<div class="main">
  <div [ngClass]="{invisible: !visibility}">
    <p>Найти аудиторию</p>
    <p>Какую аудиторию Вы хотите?</p>
    <div class="card-body">
      <form novalidate #formV="ngForm" name="numberForm" (submit)="onSubmit()" class="card-form">
        <div class="form-group">
          <input
            type="number"
            min="0"
            max="40"
            class="form-control"
            [(ngModel)]="room"
            #nameNumber="ngModel"
            name="room"
            required
          >
          <span class="validity"></span>
        </div>
        <button [disabled]="formV.invalid" type="submit" class="btn btn-primary">
          Поиск
        </button>
      </form>
    </div>

    <div class="form-group">
      <label> Выберите этаж:</label>
    </div>
    <div class="card-body">
      <form action="" class="forma form-control">
        <label> <input type="radio" [(ngModel)]="floor" name="floor" value="0"> -1 <span class="none">подвальный</span>
        </label><br>
        <label><input type="radio" [(ngModel)]="floor" name="floor" value="1"> 0 <span class="none"> первый</span>
        </label><br>
        <label><input type="radio" [(ngModel)]="floor" name="floor" value="2"> 1 <span class="none">второй</span>
        </label><br>
        <label><input type="radio" [(ngModel)]="floor" name="floor" value="3"> 2 <span class="none">третий</span>
        </label><br>
        <label><input type="radio" [(ngModel)]="floor" name="floor" value="4"> 3 <span class="none">четвертый</span>
        </label><br>
      </form>
    </div>
  </div>
  <div [ngClass]="{invisible: visibility}">
    <p>Аудитория {{room}}</p>
    <div *ngIf="isBusy" class="back"> Занята, {{personsOnSelectRoom}} человек</div>
    <div *ngIf="!isBusy" class="back"> Свободно</div>
    <div class="back">
      <button type="submit" class="btn btn-primary" (click)="goBack()">
        goBack
      </button>
    </div>
  </div>
</div>



